:root {
  --color-amarillo: #EAC926;
  --color-azul: #03264C;
  --color-celeste: #1259c3;
  --color-gris-oscuro: #666;
  --color-gris-claro: #ebebeb;
  --color-verde: #39b54a;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: var(--color-amarillo);
    text-align: center;
}

header>a>img {
    width: 200px;
    margin: 10px;
}

header>form>input {
    width: 75vw;
    padding: 10px;
    border: none;
}

header>form>button {
    padding: 10px;
    border: none;
    margin-left: -4px;
}

.font-size-description {
    margin: 10px;
}

header>nav ul{
    margin: 10px;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: black;
}

.burger-menu{
    display:inline-block;
    color: white;
    padding: 4px 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color:#1259c3;
    border: solid #1259c3;
}

  .font-size-description {
    font-size: 16px;
  }

  .font-size-prices { 
    font-size: 18px;
  }

  .font-size-discounts {
    font-size: 16px;
  }

  h2 {
    font-size: 24px;
  }

  p {
font-size: 12px;
  }

.login {
  background-color:#ebebeb;
  padding: 20px 0;
  text-align: center;
} 

.login>form>div>input {
  padding: 5px ;
  width: 85vw;
  border: none;
  margin: 20px 0;
}
.login>form>div button[type="submit"] {
  width: 85vw;
  background-color:#1259c3;
  color: white;
}

.register {
  background-color: #ebebeb;
}

.reg-div {
  background-color:#ebebeb;
    padding: 10px 0;
    text-align: center;
}

.reg-div> input {
  padding: 10px ;
  width: 85vw;
  border: none;
  margin: 20px 0;
}

.reg-interes {
  margin: 20px 7.5vw;
}

.reg-interes input {
  margin-right: 10px;
}

.reg-photo {
  margin: 20px 7.5vw;
  width: 85vw;
}

.reg-h2 {
  margin: 0 7.5vw;
} 

  footer {
    text-align: center;
}

footer>div {
    margin: 30px;
}

footer>div i {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.Copyright {
    color: #666;
}