footer {
    text-align: center;
    background-color: white;
}

footer>section {
    margin: 20px;
}

.footer-div i {
    color: #1259c3;
    font-size: 2em;
    margin-top: 10px;
}

.footer-div:hover{
    .footer-icono {
        color:  #39b54a;
    }
}

.Copyright {
    color: #666;
}
@media (min-width:1024px){
    .footer-section{
        display: flex;
        justify-content:space-around;
        margin: 15px;
    }
}